body {
    min-height: 100%;
    color: #357C44;
    padding-top: 70px;
    font: italic small-caps bold 16px/2 cursive;
}

.bg_image {
  background-image: url("images/background_pizza.png");

  height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.textaligncenter{
      text-align: center;
}



.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 80%;
  padding: 20px;

}

.bg-text-title {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  align-self: center;
  width: 60%;
  padding: 20px;

}

.font25{
    font-size: 25px;
}

.quizItemFromMenu{
    font-size: 25px;
}


.indexContainerUl{
    list-style: none;
    margin-top: 0.5em;
    padding: 0;
    width: 100%;
    vertical-align: top;
    display: flex;

}

.indexPresentation{
    padding: 5em 0;
    margin: 0 auto;
}

.index{
    width: 80%;
    vertical-align: top;
    margin: 10em auto;
}


.quizItemFromMenu{
  color: inherit;
  text-decoration: none !important;
  margin: 0 1em 0 1em;
}
.quizItemFromMenu:hover{
  color: gold;
  text-decoration: none !important;
}

/*Hover css transition*/
.div-hover-question::before{
  transform: scaleX(0);
  transform-origin: bottom right;
 }

.div-hover-question:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.div-hover-question::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #8D9B55;
  z-index: -1;
  transition: transform .3s ease;
}

.indexTitle{
    color: #DAF7A6;
    margin: 20 auto;
}



.indexBox{
    margin: 1em;
    /* Firefox */
    width: -moz-calc(80% - 50px);
    /* WebKit */
    width: -webkit-calc(80% - 50px);
    /* Opera */
    width: -o-calc(80% - 50px);
    /* Standard */
    width: calc(80% - 50px);
    padding: 2em 4em;
}

.fill-space-available{
    width: 100%;
    height: 100%;
    padding: 10;
}

.btn-container-perso{
    margin: 0;
    padding: 0;
}

.btn-detail-validate{
    padding 1000;
}


.userNavbar{
    margin-right: 0px!important;
}

.navbar-brand{
    position: relative;
    margin-left: 45px;
}

.navbar-logo{
    position: absolute;
    top: 0;
    left: -45;
    width: 40px;
    height: 40px;
}