{% include "restoQuiz/header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'restoQuiz/style.css' %}" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<body class="bg_image">
<div ></div>
<!--<div class="indexTitle bg-text-title">
    <h1>Bienvenue sur le quiz du Del Arte !</h1>
</div>-->
<div class="index">
    <div class="container indexPresentation textaligncenter bg-text">
        <div class="questionContainer">
            <div class="row">
                <div class="flex">
                    <h1 class="removeHyperlinkStyling">
                        {{question.question_text}}
                    </h1>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row question-choice-body">
                    {% for choice in choices %}

                    <div class="col-lg-5 col-md-6 col-sm-12 m-1 btn btn-lg btn-dark btn-container-perso">
                        <input type="checkbox" class="btn-check" id="btn-check-{{ forloop.counter0 }}"
                               name="btn-check-{{ forloop.counter0 }}"
                               autocomplete="off">
                        <label class="btn btn-outline-success fill-space-available"
                               for="btn-check-{{ forloop.counter0 }}">{{ choice.choice_text }}</label><br>
                    </div>
                    {% endfor %}
                </div>
                <button class="col-lg-5 col-md-6 col-sm-12 m-1 btn btn-lg btn-dark" type="submit">
                    Valider les réponses
                </button>

            </form>
            {% if question_answered == True %}
            <div>
                {% if all_good %}
                <p>Félicitation, toutes la question a été parfaitement répondu !</p>
                {% else %}
                {% for k, v in recap_answers.items%}
                <p>{{k}} : {{v}}</p>
                {% endfor %}
                {% endif %}
                <p>{{question.answer_text}}</p>

            </div>
            <a href="{% url 'restoQuiz:detail' next_question menu_id %} ">
                <button class="col-lg-5 col-md-6 col-sm-12 m-1 btn btn-lg btn-success">
                    Question Suivante
                </button>
            </a>

            {% endif %}
        </div>
    </div>
</div>

</body>

