{% include "restoQuiz/header.html" %}
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'restoQuiz/style.css' %}">

<body class="bg_image">
<div class="index textaligncenter">

    <div class="bg-text textaligncenter">
        <h2>Vous devez être authentifié pour acceder à ces fonctionnalités </h2>
        <br>
        <a class="btn btn-dark removeHyperlinkStyling" href="/login_user">Se connecter ?</a>
    </div>
</div>
</body>